@CHARSET "UTF-8";
/*
 * style.css
 */
body {
    background-image: url(pais3.jpg);
    background-repeat:no-repeat;
    backgroud-size:1000px;
}
#cadastro{
	text-aling:center;
	background-color:  rgba(123, 123, 123, 0.5);
	border:            #999;
	border-radius:     10px;
	margin-left:        25%;
    margin-top:         10%;
	padding:           20px;
	
	
}
#carregar{
	background-color: white;
	border:            #999;
	border-radius:     10px;
	margin-left:        30%;
    margin-top:         10%;
	padding:           20px;
	margin-right: 		30%;
}
h3{
	color:white;
	tex-color:white;
}
h5{
	color:white;
	tex-color:white;
}